<header>
  <h3>以下の内容で、ツイートする。</h3>
</header>

<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p class="content">ツイート:<%= @post.content %></p>

  <div class="button">
    <%= form.submit  "ツイートする" %>
    <%= form.submit  "戻る", name: 'back' %> 
  </div>
<% end %>

<footer class="footer">
  <p>kadai</p>
</footer>